* {
  margin: 0;
  padding: 0; }

:root {
  --color-primary: #10bcf8;
  --color-secondary: #6736dd;
  --color-tertiary: #36dd67;
  --linear-gradient: linear-gradient(to right top, #10bcf8,
                                                     #00aafe, #0096ff, #0080ff, #0a66f6, #0070fa,
                                                     #0079fd, #0082ff, #00a7ff, #00c0ef, #00d2af, #36dd67);
  --color-grey-light: #B0A8B9;
  --color-grey-dark: #4B4453;
  --color-background: rgb(230, 230, 230);
  --border: 1px solid var(--color-primary);
  --box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
  --box-shadow-active: 0 .25rem .5rem rgba(0,0,0, .2);
  --bs-neumorphic-up: 1.6rem 1.6rem 3rem #fff,
                        -1.6rem -1.6rem 3rem rgba(0, 0, 0, .1); }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: var(--color-background); }

.header {
  background-image: url(../img/main1_1920x10180.jpg);
  background-size: cover;
  height: 90vh;
  clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  position: relative;
  font-weight: 100; }
  .header__container {
    display: grid;
    grid-template-areas: "logo navi";
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    padding: .5rem;
    margin: 1rem 2rem;
    grid-area: 'logo';
    display: inline-block;
    color: white;
    position: relative;
    transition: all .4s; }
  .header__logo:hover {
    transform: scale(1.1);
    border: 1px solid white;
    border-radius: 2rem; }
  .header__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    grid-area: 'navi'; }
  .header__main-item {
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative; }
    .header__main-item:last-child {
      margin-right: 1.5rem; }
  .header__main-link {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: all .2s ease-in;
    position: relative; }
  .header__main-link::before, .header__main-link::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    height: 2px;
    width: 0px;
    background-color: white;
    transition: all .3s ease-in;
    transform: translateX(-1rem); }
  .header__main-link::before {
    left: 50%; }
  .header__main-link::after {
    right: 50%; }
  .header__main-link:hover::before, .header__main-link:hover::after {
    width: 20%; }
  .header__main-link:active, .header__main-link:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: var(--box-shadow-active);
    border-radius: 1rem; }
  .header__heading-primary {
    text-transform: lowercase;
    font-size: 9rem;
    color: white;
    font-family: 'Bungee Hairline', cursive;
    position: absolute;
    top: 20%;
    left: 10%; }
  .header__call2a-1 {
    top: 50%;
    left: 10%;
    grid-area: 'btn1'; }
  .header__call2a-2 {
    top: 70%;
    left: 10%;
    grid-area: 'btn2'; }
  .header__box {
    widows: 30rem;
    height: 30rem; }

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
  padding: 4rem;
  margin: 4rem 0; }
  .about__box {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 3rem;
    box-shadow: var(--bs-neumorphic-up);
    margin: 3rem 2rem;
    min-height: 25rem;
    min-width: 25rem;
    text-align: center; }
    .about__box-icon {
      width: 6rem;
      height: 6rem;
      fill: url(#about__svg-gradient) var(--color-primary);
      margin: 2rem auto; }
    .about__box-heading-small {
      font-size: 1.75rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
      color: var(--color-grey-dark); }
    .about__box-text {
      font-size: 1.1rem;
      padding: 1rem 2rem;
      color: var(--color-grey-light); }

.call2a {
  padding: 3rem 4rem;
  background: none;
  color: white;
  border: none;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer; }
  .call2a:after, .call2a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid white;
    transition: transform .2s; }
  .call2a:after {
    transform: translate(4px, 4px); }
  .call2a:before {
    transform: translate(-4px, -4px); }
  .call2a:hover:after, .call2a:hover:before {
    transform: translate(0); }
  .call2a-1 {
    top: 50%;
    left: 10%; }
  .call2a-2 {
    top: 70%;
    left: 16%; }

.btn-animated {
  position: relative;
  overflow: hidden;
  transform: translate(0%, 0%); }
  .btn-animated__span {
    position: absolute;
    background: white; }
  .btn-animated__span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    animation: 2s btn-animated-top linear infinite; }
  .btn-animated__span:nth-child(2) {
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    animation: 2s btn-animated-left 1s linear infinite; }
  .btn-animated__span:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    animation: 2s btn-animated-bottom linear infinite; }
  .btn-animated__span:nth-child(4) {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    animation: 2s -1s btn-animated-right linear infinite; }

.heading-large {
  font-family: 'Bungee Hairline', cursive;
  font-size: 4rem;
  text-align: center;
  box-shadow: var(--bs-neumorphic-up);
  color: var(--color-grey-dark);
  margin-top: 1rem; }

.back-col {
  display: block;
  background-image: var(--linear-gradient);
  position: relative;
  color: white;
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  opacity: .6;
  transition: all .4s; }
  .back-col::before {
    content: '';
    background-color: var(--color-tertiary);
    display: inline-block;
    height: 10%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0; }

.active {
  animation: 2s expandDiv linear forwards; }

.imgSize {
  display: inline-block;
  box-shadow: -5px -5px 20px white, 5px 5px 20px #BABECC;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 4; }

.open {
  box-shadow: var(--bs-neumorphic-up); }

.hover {
  box-shadow: var(--bs-neumorphic-up);
  transform: translateX(1rem); }

.slider {
  box-shadow: var(--bs-neumorphic-up);
  margin: 4rem auto;
  padding: 4rem 0;
  min-height: 70vh; }
  .slider__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative; }
  .slider__screen {
    width: 70%;
    height: 50rem;
    background-image: url(../slider/DJI_1.jpg);
    background-size: cover;
    background-position: center center;
    margin: 3rem auto;
    border-radius: 1rem; }
  .slider__btn {
    display: inline-block;
    position: absolute;
    font-size: 3rem;
    width: 10%;
    height: 10rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    opacity: .3;
    transform: translateY(-50%); }
  .slider__btn:active {
    box-shadow: .8rem .8rem 1.5rem #ffffff; }
  .slider__prevButton {
    top: 50%;
    left: 4%;
    box-shadow: -16px -16px 30px rgba(0, 0, 0, 0.7); }
  .slider__nextButton {
    top: 50%;
    right: 4%;
    box-shadow: 16px 16px 30px rgba(0, 0, 0, 0.7); }

@keyframes btn-animated-top {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@keyframes btn-animated-left {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@keyframes btn-animated-bottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@keyframes btn-animated-right {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes expandDiv {
  0% {
    display: none;
    height: 0px;
    width: 0px;
    background: none;
    box-shadow: none;
    border: none; }
  100% {
    display: block;
    box-shadow: var(--bs-neumorphic-up);
    height: 100%;
    width: 80%;
    border: 1px solid tomato;
    padding: 2rem;
    margin-left: 6rem;
    transform-origin: center; } }

.works__container {
  min-height: 70vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative; }

.works__list {
  display: grid;
  justify-content: center;
  align-items: center;
  perspective: 100rem;
  transform: translateX(-10rem); }
  .works__list-item {
    display: grid;
    grid-template-columns: 2fr 5fr;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--color-background);
    font-family: inherit;
    padding: 2rem 1rem;
    margin: 2rem 1rem;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    list-style: none;
    cursor: pointer;
    transform: rotateY(-30deg) rotateX(15deg);
    position: absolute;
    opacity: .7;
    transition: all .3s ease-in;
    mix-blend-mode: hue; }
    .works__list-item-img {
      width: 50%;
      opacity: .7;
      justify-self: end; }
    .works__list-item-span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold; }
  .works__list-item:hover {
    transform: rotateY(-10deg) rotateX(-7deg) scale(1.07);
    z-index: 100;
    mix-blend-mode: normal;
    opacity: .9;
    border-radius: 1rem;
    font-size: 1.7rem; }
    .works__list-item:hover-img {
      width: 60%; }
  .works__list-item:focus, .works__list-item:active {
    transform: translateX(-7rem); }
  .works__list-item:nth-child(1) {
    top: 0;
    background-color: var(--color-tertiary); }
  .works__list-item:nth-child(2) {
    top: 15%;
    background-color: var(--color-primary); }
  .works__list-item:nth-child(3) {
    top: 30%;
    background-color: var(--color-secondary); }
  .works__list-item:nth-child(4) {
    top: 45%;
    background-color: var(--color-tertiary); }
  .works__list-item:nth-child(5) {
    top: 60%;
    background-color: var(--color-primary); }
  .works__list-item:nth-child(6) {
    top: 75%;
    background-color: var(--color-secondary); }

.works__samples {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1.7rem;
  padding: 3rem;
  width: 0;
  height: 0;
  z-index: -4;
  border-radius: 1rem; }
  .works__samples-img {
    display: block;
    width: 40rem;
    height: 34rem;
    margin: 4rem;
    padding: 4rem; }

.contact {
  display: grid; }
  .contact .heading-large {
    grid-column: 1 / -1;
    height: 6rem; }
  .contact__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(105deg, transparent 0%, transparent 50%, rgba(16, 188, 248, 0.3) 50%); }
    .contact__wrap .form {
      grid-column: 1 / 2;
      padding: 4rem;
      margin: 4rem auto;
      width: 80%; }
      .contact__wrap .form__group {
        margin: 1rem auto; }
      .contact__wrap .form__input, .contact__wrap .form__textarea, .contact__wrap .form__button {
        outline: none;
        font-family: inherit;
        font-size: 1.6rem;
        color: var(--color-grey-dark); }
      .contact__wrap .form__input {
        border: none;
        border-bottom: 3px solid transparent;
        padding: 1rem 2rem;
        height: 100%;
        width: 100%;
        display: block;
        border-radius: 1rem;
        box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px white; }
        .contact__wrap .form__input:focus {
          border-bottom: 3px solid rgba(103, 54, 221, 0.3); }
        .contact__wrap .form__input:focus:invalid {
          border-bottom: 3px solid tomato; }
      .contact__wrap .form__input:focus, .contact__wrap .form__textarea:focus {
        box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px white; }
      .contact__wrap .form__label {
        color: var(--color-grey-dark);
        display: block;
        text-shadow: 2px 2px 6px white;
        margin-left: 2rem;
        font-size: 1.3rem;
        transition: all .2s linear;
        opacity: 0; }
      .contact__wrap .form__input + .contact__wrap .form__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem); }
      .contact__wrap .form__textarea {
        line-height: 1.5;
        resize: none;
        border: none;
        border-radius: 1rem;
        width: 100%;
        margin: 1rem auto;
        padding: 2rem;
        box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #fff; }
      .contact__wrap .form__button {
        display: inline-block;
        width: 100%;
        color: var(--color-secondary);
        font-weight: bold;
        text-transform: uppercase;
        padding: 1rem 2rem;
        margin-top: 1rem;
        border: none;
        border-radius: 1rem;
        box-shadow: -5px -5px 20px white, 5px 5px 20px #BABECC;
        transition: all 0.2s linear;
        cursor: pointer; }
        .contact__wrap .form__button:hover, .contact__wrap .form__button:focus {
          box-shadow: -2px -2px 5px white, 2px 2px 5px #BABECC; }
        .contact__wrap .form__button:active {
          box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px white; }
    .contact__wrap .social-media {
      grid-column: 2 / -1;
      display: grid;
      justify-content: center;
      align-items: center;
      transition: all 1s linear; }
      .contact__wrap .social-media__window {
        width: 20rem;
        height: 40rem;
        box-shadow: var(--bs-neumorphic-up);
        border-radius: 1rem;
        display: grid;
        justify-content: center;
        align-content: center; }
      .contact__wrap .social-media__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        text-decoration: none;
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        margin: 1rem;
        border-radius: 50%;
        color: var(--color-grey-dark);
        box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.1), -3px -3px 3px 3px rgba(247, 251, 255, 0.5); }
        .contact__wrap .social-media__link:hover {
          box-shadow: inset 3px 3px 6px 3px rgba(0, 0, 0, 0.1), inset -3px -3px 6px 3px rgba(247, 251, 255, 0.5);
          transform: scale(1.1);
          transition: all .2s linear; }
        .contact__wrap .social-media__link:active {
          box-shadow: inset 2px 2px 3px 1px rgba(0, 0, 0, 0.1), inset -2px -2px 2px 2px rgba(247, 251, 255, 0.5);
          transition: all .2s linear; }
        .contact__wrap .social-media__link-icon {
          width: 6rem;
          height: 6rem; }

.footer {
  display: grid;
  box-shadow: -5px -5px 20px white, 5px 5px 20px #BABECC; }
  .footer__address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-grey-lightfgfc);
    font-weight: bold;
    line-height: 2; }
  .footer__copyrights {
    display: inline-block;
    padding: .7rem;
    box-shadow: -3px -3px 16px white, 3px 3px 16px #BABECC;
    text-decoration: none;
    color: grey;
    text-align: center; }
    .footer__copyrights-mail {
      color: grey;
      display: inline-block;
      padding: .7rem;
      box-shadow: -3px -3px 16px white, 3px 3px 16px #BABECC;
      text-decoration: none; }
