.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    padding: 2rem;

    &__box {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-radius: 3rem;
        box-shadow: var(--bs-neumorphic-up);
        margin: 3rem 2rem;
        min-height: 25rem;
        min-width: 25rem;
        text-align: center;

        &-icon {
            width: 6rem;
            height: 6rem;
            fill: url(#about__svg-gradient) var(--color-primary);
            margin: 2rem auto;
            // position: absolute;
            // transform: rotate(45deg) scale(2) translateX(3rem);
            // opacity: .3;
            // z-index: -4;
        }

        &-heading-small {
            font-size: 1.75rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
            color: var(--color-grey-dark);
        }

        &-text {
            font-size: 1.1rem;
            padding: 1rem 2rem;
            color: var(--color-grey-light);
        }
    
    }


}