.contact-form {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;


    .heading-large {
        grid-column: 1 / -1;
        height: 6rem;
    }

    .form {
        grid-column: 2 / 3;
        padding: 4rem;
        margin: 4rem auto;

        &__group {
            margin: 1rem auto;
        }

        &__input,
        &__textarea,
        &__button {
            outline: none;
            font-family: inherit;
            font-size: 1.6rem;
            color: var(--color-grey-dark);
        }

        &__input {
            border: none;
            border-bottom: 3px solid transparent;
            padding: 1rem 2rem;
            height: 100%;
            width: 100%;
            border-radius: 1rem;
            box-shadow: inset 2px 2px 5px #BABECC,
                        inset -5px -5px 10px white;
        }

        &__input:focus {
            border-bottom: 3px solid rgba(103, 54, 221, .3);
        }

        &__input:focus,
        &__textarea:focus {
            box-shadow:  inset 1px 1px 2px #BABECC,
                         inset -1px -1px 2px white;
          }

        &__label {
            color: var(--color-grey-dark);
            text-shadow: 1px 1px 0 white;
        }

        &__textarea {
            line-height: 1.5;
            resize: none;
            border: none;
            border-radius: 1rem;
            width: 100%;
            margin: 1rem auto;
            padding: 2rem;
            box-shadow: inset 2px 2px 5px #BABECC,
            inset -5px -5px 10px #fff;
        }

        &__button {
            display: inline-block;
            width: 100%;
            color: var(--color-secondary);
            font-weight: bold;
            text-transform: uppercase;
            padding: 1rem 2rem;
            margin-top: 1rem;
            border: none;
            border-radius: 1rem;
            box-shadow: -5px -5px 20px white,
                          5px 5px 20px #BABECC;
            transition: all 0.2s linear;
            cursor: pointer;

            &:hover,
            &:focus {
                box-shadow: -2px -2px 5px white,
                             2px 2px 5px #BABECC;
              }

            &:active {
                box-shadow: inset 1px 1px 2px #BABECC,
                            inset -1px -1px 2px white;
              }
        }
    }
}