.header {
    background-image: url(../img/main1_1920x10180.jpg);
    background-size: cover;
    height: 90vh;
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    position: relative;
    font-weight: 100;
    

    &__container {
        display: grid;
        grid-template-areas: "logo navi";
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: 'Monoton', cursive;
        font-size: 3rem;
        padding: .5rem;
        margin: 1rem 2rem;
        grid-area: 'logo';
        display: inline-block;
        color: white;
        position: relative;
        transition: all .4s;
        
    }

    &__logo:hover {
        transform: scale(1.1);
        border: 1px solid white;
        border-radius: 2rem;
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
        grid-area: 'navi';
    }

    &__main-item {
        font-size: 1.2rem;
        text-transform: uppercase;
        position: relative;

        &:last-child {
            margin-right: 1.5rem;
        }
    }


    &__main-link {
        display: block;
        text-decoration: none;
        color: white;
        padding: 1.5rem 3rem;
        cursor: pointer;
        transition: all .2s ease-in;
        position: relative;
    }

    &__main-link::before,
    &__main-link::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        height: 2px;
        width: 0px;
        background-color: white;
        transition: all .3s ease-in;
        transform: translateX(-1rem);
    }
    &__main-link::before {
        left: 50%;
    }
    &__main-link::after {
        right: 50%;
    }
    &__main-link:hover::before,
    &__main-link:hover::after {
        width: 20%;
    }



    &__main-link:active,
    &__main-link:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: var(--box-shadow-active);
        border-radius: 1rem;
    }

    &__heading-primary {
        text-transform: lowercase;
        font-size: 9rem;
        color: white;
        font-family: 'Bungee Hairline', cursive;
        position: absolute;
        top: 20%;
        left: 10%;
        animation: animated-heading-primary 1s linear forwards;
    }

    &__call2a-1 {
        top: 50%;
        left: 10%;
        grid-area: 'btn1';
    }

    &__call2a-2 {
        top: 70%;
        left: 10%;
        grid-area: 'btn2';
    }

    &__box {
        widows: 30rem;
        height: 30rem;
    }

}
