.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
  padding: 4rem;
  margin: 4rem 0;
  position: relative;

  @include responsive(phone) {
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    gap: 4rem;
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 3rem;
    box-shadow: var(--bs-neumorphic-up);
    margin: 3rem 2rem;
    text-align: center;

    @include responsive(phone) {
      height: 100%;
    }

    &-icon {
      width: 6rem;
      height: 6rem;
      fill: url(#about__svg-gradient) var(--color-primary);
      margin: 2rem auto;
    }

    &-heading-small {
      font-size: 1.75rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
      color: var(--color-background);
    }

    &-text {
      font-size: 1.3rem;
      padding: 1rem 2rem;
      color: var(--color-grey-dark);
      height: 13rem;

      @include responsive(phone) {
        height: 16rem;
      }
    }
  }
}
