.slider {
  box-shadow: var(--bs-neumorphic-up);
  margin: 4rem auto;
  padding: 4rem 0;
  min-height: 70vh;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__screen {
    width: 70%;
    height: 50rem;
    background-image: url(../assets/img/slider/DJI_1.jpg);
    background-size: cover;
    background-position: center center;
    margin: 3rem auto;
    border-radius: 1rem;
  }

  &__btn {
    display: inline-block;
    position: absolute;
    font-size: 3rem;
    width: 10%;
    height: 10rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    opacity: 0.3;
    transform: translateY(-50%);
  }

  &__btn:active {
    box-shadow: 0.8rem 0.8rem 1.5rem #ffffff;
  }

  &__prevButton {
    top: 50%;
    left: 4%;
    box-shadow: -16px -16px 30px rgba(0, 0, 0, 0.7);
  }

  &__nextButton {
    top: 50%;
    right: 4%;
    box-shadow: 16px 16px 30px rgba(0, 0, 0, 0.7);
  }
}
