.works {
  &__container {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;

    @include responsive(phone) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr;
      justify-content: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    perspective: 100rem;
    transform: translateX(-10rem);

    @include responsive(phone) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      perspective: none;
      transform: translateX(0);
      width: 90%;
      margin: 4rem 0;
    }

    &-item {
      display: grid;
      grid-template-columns: 2fr 5fr;
      font-size: 1.4rem;
      text-transform: uppercase;
      text-align: center;
      color: var(--color-background);
      font-family: inherit;
      padding: 2rem 1rem;
      margin: 2rem 1rem;
      border-bottom: 4px solid rgba(0, 0, 0, 0.2);
      list-style: none;
      cursor: pointer;
      transform: rotateY(-30deg) rotateX(15deg);
      position: absolute;
      opacity: 0.7;
      transition: all 0.3s ease-in;
      mix-blend-mode: hue;
      z-index: 3;

      @include responsive(phone) {
        grid-template-columns: 1fr;
        position: static;
        transform: rotateY(0) rotateX(0);
        border-bottom: none;
        width: 100%;
        height: 100%;
        border-radius: 0.3rem;
      }

      &-img {
        width: 50%;
        opacity: 0.7;
        justify-self: end;

        @include responsive(phone) {
          display: none;
        }
      }

      &-span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }

    @include responsive(small-desktop) {
      &-item:hover {
        transform: rotateY(-10deg) rotateX(-7deg) scale(1.07);
        mix-blend-mode: normal;
        opacity: 0.9;
        border-radius: 1rem;
        font-size: 1.7rem;

        &-img {
          width: 60%;
        }
      }
    }

    &-item:focus,
    &-item:active {
      transform: translateX(-7rem);

      @include responsive(phone) {
        transform: scale(1.1);
        box-shadow: var(--box-shadow);
      }
    }

    &-item:nth-child(1) {
      top: 0;
      background-color: var(--color-tertiary);
    }

    &-item:nth-child(2) {
      top: 15%;
      background-color: var(--color-primary);
    }

    &-item:nth-child(3) {
      top: 30%;
      background-color: var(--color-secondary);
    }

    &-item:nth-child(4) {
      top: 45%;
      background-color: var(--color-tertiary);
    }

    &-item:nth-child(5) {
      top: 60%;
      background-color: var(--color-primary);
    }

    &-item:nth-child(6) {
      top: 75%;
      background-color: var(--color-secondary);
    }
  }
  &__samples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin: 1rem 2rem;
    width: 0;
    height: 0;
    border-radius: 1rem;
    overflow: auto;
    position: relative;
    z-index: 17;
    grid-row-start: 2;
    grid-row-end: -1;

    @include responsive(phone) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    &-img {
      display: inline-block;
      box-shadow: -5px -5px 20px white, 5px 5px 20px #babecc;
      z-index: 21;
      height: auto;
      width: 100%;
      object-fit: cover;
      transition: all 0.3s linear;
      border-radius: 1rem;

      &:hover {
        box-shadow: var(--bs-neumorphic-up);
        transform: translateY(-3px);
      }
    }
  }

  &__modal {
    display: grid;
    background: rgba(16, 188, 248, 0.7);
    position: fixed;
    z-index: 21;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;

    &-open {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__bigpicture {
    max-width: 100rem;
    height: 90vh;
    padding: 3rem;
    background-color: white;
    position: relative;
    z-index: 34;

    &-pic {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-prev,
    &-next {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: transparent;
      transform: translateY(-50%);
    }

    &-prev {
      top: 50%;
      left: -7%;
    }

    &-next {
      top: 50%;
      right: -7%;
    }

    &-svg {
      position: absolute;
      z-index: 40;
      fill: white;
      width: 7rem;
      height: 7rem;
      stroke: 1;
    }
  }
}
